.current-rates-main{
    width: calc(64vw + 0.3rem);
    /* height: 82vh; */
    margin-bottom: 2rem;
}

/* .current-rates-div{
    height: 82vh;
    overflow: scroll;
} */

.heading{
    width: auto;
}

table{
    width: 100%;
    text-align: center;
    font-size: 1.6rem;
    margin-bottom: 1rem;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.5);
}

table td,
table th{
    padding: 1rem;
}

table th{
    background-color: var(--main-dark-color);
    color: var(--font-white-color);
    width: 10rem;
    text-transform: capitalize;
}

.duration-title{
    column-span: 2;
}

.rates-title{
    column-span: 5;
}

table .duration{
    text-align: center;
    background-color: var(--medium-color);
    color: var(--font-white-color);
    padding: 1.34rem 2rem;
    justify-content: center;
}

table td{
    background-color: var(--font-white-color);
    color: var(--main-dark-color);
}

.actions{
    display: flex;
}

table .edit-btn-box{
    text-align: center;
    background-color: var(--medium-color);
    padding: 1.2rem 2rem;
}

table .edit-btn-box button{
    background: transparent;
    border: none;
    outline: none;
    font-size: 1.5rem;
    width: inherit;
    height: inherit;
    color: var(--font-white-color);
}

table .edit-btn-box button:hover{
    cursor: pointer;
    color: var(--main-dark-color);
}