.superadmin-main{
    min-height: 90vh;
    display: flex;
    gap: 1rem;
}

.details-for-admin{
    min-width: calc(90vw - 22vw - 3.3rem);
}

.admin-request-component,
.admin-list-component,
.all-users-component{
    background-color: var(--font-white-color);
    border-radius: var(--border-outside-width);
    padding: 1rem 2rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    color: var(--main-dark-color);
    box-shadow: var(--box-shadow);
}

.admin-request-name-email{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.admin-request-component span,
.admin-list-component span,
.all-users-component span{
    font-weight: 700;
    display: inline;
}

.admin-request-component p,
.admin-list-component p,
.all-users-component p{
    font-weight: 500;
    display: inline-block;
    margin: 0.5rem;
}

.all-users-name-email>div{
    margin: 0.5rem 0;
}

.admin-request-status-created,
.admin-list-active-status,
.admin-list-rates-created,
.all-users-account-fds,
.all-users-work-created{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0.5rem 0;
}

.admin-list-email{
    margin: 0.5rem 0;
}

.admin-requests-btns,
.admin-list-view-admin-btn{
    margin-top: 0.5rem;
}

.dark-btn{
    margin-left: 0.5rem;
    font-size: 1.5rem;
    padding: 1rem 2rem;
    background-color: var(--main-dark-color);
    border: none;
    border-radius: var(--border-inside-width);
    color: var(--font-white-color);
    font-weight: 600;
    margin: 0 auto;
    align-self: center;
}

.dark-btn:hover{
    cursor: pointer;
    color: var(--main-dark-color);
    background-color: var(--main-bg-color);
}

.reject{
    margin-left: 1rem;
}