.home-main{
    /* height: calc(90vh - 4rem); */
    width: 90vw;
    color: var(--main-dark-color);
}

.title-text-images{
    display: flex;
    flex-direction: row;
}

.title-text-div{
    background-color: var(--medium-color);
    width: fit-content;
    height: fit-content;
    padding: 1rem;
    padding-bottom: 1.5rem;
    margin-top: 1rem;
    color: var(--main-bg-color);
    border-radius: var(--border-outside-width);
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.5);
}

.welcome-title{
    font-size: 3rem;
    margin: 0.5rem;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

.welcome-text{
    margin: 0.5rem;
    font-size: 2rem;
    text-shadow: 2px 2px 15px rgba(0, 0, 0, 0.5);
}

.hr{
    border-color: var(--heavy-color);
    color: var(--main-dark-color);
}

.welcome-text-2{
    margin-left: 0.5rem;
    font-size: 1.5rem;
    text-shadow: 2px 2px 15px rgba(0, 0, 0, 0.5);
}

.hero-images{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.fdHand-img{
    width: 16rem;
    height: 16rem;
    margin-left: 5rem;
}

.money-img{
    width: 17rem;
    height: 17rem;
    margin-top: 3rem;
    margin-left: 3rem;
}

.paisa-img{
    width: 20rem;
    height: 20rem;
    position: absolute;
    z-index: -1;
    margin-left: 21rem;
    margin-top: 10rem;
}

.welcome-btn{
    margin-left: 0.5rem;
    font-size: 2rem;
    padding: 1rem 2rem;
    background-color: var(--main-dark-color);
    border: none;
    border-radius: var(--border-inside-width);
    color: var(--font-white-color);
    font-weight: 600;
}

.welcome-btn:hover{
    cursor: pointer;
    color: var(--main-dark-color);
    background-color: var(--font-white-color);
}

.hr-sec{
    border-color: var(--medium-color);
    color: var(--main-dark-color);
    width: 50rem;
    border-style: solid;
    border-width: 0.2rem;
    border-radius: var(--border-outside-width);
}

#sectionTwo{
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#sectionTwo table{
    text-align: center;
    font-size: 1.6rem;
}

#sectionTwo table td,
#sectionTwo table th{
    padding: 1rem;
}

#sectionTwo table th{
    background-color: var(--main-dark-color);
    color: var(--font-white-color);
    width: 10rem;
    text-transform: capitalize;
}

.duration-title{
    column-span: 2;
}

.rates-title{
    column-span: 5;
}

#sectionTwo table .duration{
    text-align: center;
    background-color: var(--medium-color);
    color: var(--font-white-color);
    padding: 1.2rem 2rem;
}

#sectionTwo table td{
    background-color: var(--font-white-color);
    color: var(--main-dark-color);
}
