.fd-history-main{
    /* width: calc(60vw - 1px); */
    height: fit-content;
    margin: 0 0 0.8rem;
    padding-bottom: 1.5rem;
    background-color: var(--font-white-color);
    border-radius: var(--border-outside-width);
    padding: 0.2rem 2rem;
    color: var(--main-dark-color);
    box-shadow: 3px 3px 10px rgba(0,0,0,0.3);
}

/* .account-history-main:last-child{
    padding-bottom: 0.5rem;
} */

.transaction,
.user{
    display: flex;
    flex-direction: row;
}

.user p{
    font-size: 1.8rem;
    margin: 0.8rem 0 0;
}

.transaction p{
    font-size: 1.8rem;
    margin: 0.8rem 0;
}

.value{
    text-transform: capitalize;
}

.dates,
.duration-n-rate,
.value-n-totalvalue
{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-right: 8rem;
}

.createdAt,
.amount,
.transaction-mehtod,
.card-no,
.interest,
.duration{
    width: inherit;
    margin: 0;
    font-size: 1.4rem;
    display: flex;
    text-align: left;
}

.createdAt p,
.amount p,
.transaction-mehtod p,
.card-no p
.interest p,
.duration p{
    margin: 0.4rem 0;
}