.profile-card-main{
    width: 22vw;
    height: fit-content;
    margin-top: 1rem;
    background-color: var(--font-white-color);
    border: 10px solid var(--font-white-color);
    border-radius: var(--border-outside-width);
    padding: 0 0.5rem;
    color: var(--main-dark-color);
    box-shadow: 3px 3px 10px rgba(0,0,0,0.3);
}

.user-img{
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    border: 7px solid var(--font-white-color);
    margin-top: -6vh;
    margin-left: 1rem;
}

.user-details{
    padding-left: 0.5rem;
    /* margin-top: 1rem; */
}                                                   

.username p{
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 600;
    margin: 0;
    margin-top: 0.3rem;
}

.joined-date{
    margin-bottom: 0.3rem;
}

.joined-date p{
    margin: 0;
    color: var(--heavy-color);
}

.balance,
.total-fds,
.fd-status{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 0.5rem;
}

.fd-status{
    flex-direction: column;
}

.matured,
.running,
.broken{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.balance p,
.total-fds p,
.fd-status p{
    margin: 0.9rem 0;
    font-size: 1.6rem;
}

.value{
    font-weight: 600;
    padding-left: 0.5rem;
}