*:root{
    --navbar-color: rgba(18, 51, 93, 0.7);
    --main-dark-color: #12335D;
    --main-bg-color: #a6c8d5;
    --normal-color: #5499B7;
    --medium-color: #4A7292;
    --heavy-color: #064988;
    --black-color: #000921;
    --font-white-color: #fffff5;
    --card-color-bg: #17699A;
    --card-color-lite: #F2F7F9;
    --card-color-lite2: #D8E6ED;
    --card-color-lite3: #CADAE4;
    --card-color-lite4: #92B2C5;
    --card-color-lite5: #769BB2;
    --border: 1px solid #fff;
    --border-outside-width: 10px;
    --border-inside-width: 5px;
}